.sidebar{
    /* border: 1px solid black; */
    flex: 0.2;
    
}
.you-flex{
    display: flex;
    align-items: center;
    padding: 4px 8px;
    gap: 14px;
}

.you-title{
    font-size: 14px;
    font-weight: 400;
    margin-left: 6px;
}
